body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}
h3{
    text-align: center;
    background-color: inline-block;
}
.container {
    margin: 100px auto;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
table{
    text-align: left;            
}
input[type=textarea]{
    height: 250px;
    width: 250px;
}
input[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
th,td{
    padding: 15px;
    font-style: italic;
}
.profile,.post,.myposts{
    margin: 100px auto;
    width: 70%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}