<!DOCTYPE html>
<html>
<head>
    <title>Social Networking</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body background="static/img/Login.jpg">
	<div class="container">
        <div class="head">
		    <h2>PEC Social Network</h2>
        </div>
		<form method="post" action="/user_login">
            <div class="email">
                <h3>Enter Login Details</h3>
                <table style="font-size:15px;">
                    <tr><td><b>Username</b></td>
                    <td><input type="text" placeholder="Enter Username" name="username" id="username" required></td></tr>
                    <tr><td><b>Password:</b></td>
                    <td><input type="password" placeholder="Enter Password" name="password" id="password" required></td></tr>
                </table>
            </div>
            
		<button type="submit">Login</button>
        </form>
        <p style="font-style:aria-busy; ">Don't Have An Account:  <a href="/user_signup_page">Create Account</a></p>
    </div>
</body></html>